<h1><%= @merchant.name %> Discounts </h1>

<% @merchant.bulk_discounts.each do |bd| %>
<section id="bd-<%= bd.id %>">
  Discount ID: <%= link_to "#{bd.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{bd.id}" %>,
  Quantity Threshold: <%= bd.quantity_threshold %>,
  Discount: <%= bd.percent_discount %>%
  <%= button_to "Delete Discount #{bd.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{bd.id}", method: :delete %>
  <br>
  <br>
</section>
<br>
<% end %>

<br>
<%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %>
