<%= @merchant.name %>

<%= link_to 'Items', merchant_items_path %>

<%= link_to 'Invoices', merchant_invoices_path %>

<h3>Favorite Customers </h3>
<% @merchant.favorite_customers.each do |customer| %>
<p> <%= customer.first_name + " " + customer.last_name  %>
<%= customer.transaction_count %> </p>
<% end %>

<h3>Items Ready to Ship</h3>
<% @merchant.items.ready_to_ship.each do |item| %>
  <%= item.name %>
  <%= item.created_at.strftime("%m/%d/%Y") %>
<% end %>
