<h1>Admin Merchants Index</h1>

<h4><%= link_to "Create New Merchant", "/admin/merchants/new" %></h4><br>

<h4>Top 5 Merchants by Revenue:</h4>
<% @merchants.big_5.each do |merchant| %>
<p>Name: <%= merchant.name %> Revenue: <%= number_to_currency(merchant.revenue / 100 ) %></p>
Top Selling Date: <% %>
<% end %>

<h3>Enabled Merchants</h3>
<% @merchants.enabled?.each do |merchant| %>
  <p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></p>
  <% if merchant.status == false %>
    <p><%= button_to "Enable", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: true} %>
  <% elsif merchant.status == true %>
    <p><%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: false} %>
  <% end %>
<% end %>

<h3>Disabled Merchants</h3>
<% @merchants.disabled?.each do |merchant| %>
  <p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></p>
  <% if merchant.status == false %>
    <p><%= button_to "Enable", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: true} %>
  <% elsif merchant.status == true %>
    <p><%= button_to "Disable", "/admin/merchants/#{merchant.id}", method: :patch, params: {status: false} %>
  <% end %>
<% end %>
