<h1><%= @merchant.name %></h1>
<% @merchant.items.each do |item| %>
  <%= link_to item.name, merchant_items_path(@merchant) %>
<% end %>

<%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %>

<section id="status">
<% @enabled_items.each do |item| %>
  <section id="item-<%= item.id %>">
  <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
  <%= button_to "Disable", merchant_item_status_path(@merchant, item), method: :patch, params: {status: "disabled"} %>
  </section>
<% end %>
</section>

