<h1><%= @invoice.id %>/h1>
  <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
    <%= f.label :status, "Invoice Status: " %>
    <%= f.select :status, ['completed', 'in progress', 'cancelled'], selected: @invoice.status %></p>
    <%= f.submit "Update Invoice Status" %>
  <% end %>

<h3>Customer: </h3>
<p>First Name:</p><%= @invoice.customer.first_name %>
<p>Last Name:</p><%= @invoice.customer.last_name %>

<h3>Created At: </h3><%= @invoice.created_at.strftime('%A, %B %d, %Y') %>

<h3>Items: </h3><%= @item.name %>
<p>Quantity: </p><%= @invoice_items.quantity %>
<p>Unit Price: </p><%= @item.unit_price %>
<p>Status: </p><%= @invoice.status %>

Total Revenue Generated: $<%= @invoice_items.item_revenue %>
